* {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: black;
  color: white;
  padding-left: 70px;
  padding-right: 70px;
}
/* nav style */
.logo {
  font-size: 30px;
  font-weight: bold;
}
header nav ul {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
.navs {
  display: flex;
  gap: 30px;
  align-items: center;
}
.btn {
  height: 40px;
  width: 108px;
  color: #ffffff;
  background-color: #030304;
  border-radius: 30px;
  border-color: white;
  font-size: 14px;
  font-weight: bold;
}
.nt {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.at{
    font-size: 72px;
    font-weight: bold;
}
.lb{
    color: #949494;
    font-size: 18px;
    font-weight: 400;
}
hr{
  margin-top: 70px;
  margin-bottom: 70px;
   
}
.blue{
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.works{
  height: 440px;
  width: 364px;
}
.or{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.card{
  display: flex;
  gap: 10px;
}
.kts{
    background-color:black;
  height: 55px;
  width: 170px;
  border-radius: 32.5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: block;
  margin: 0 auto;
 border-color: #ff9142 ;
 margin-top: 50px;
}
/* footer design */
.ftext{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #FF9142;
}
.info{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
}
.ctf{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mn{
    font-size: 50px;
    font-weight:bolder;
}
.sa{
    font-size: 24px;
    
}
.gh{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}